@model IEnumerable<ProjectSD.Models.Board>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-3 col-lg-3"></div>
    <!-- center -->
    <div class="col-md-3 col-lg-3">
             <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Create Board
            </button>
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BoardName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BoardCreated)
                    </th>
                    <th></th>
                </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BoardName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BoardCreated)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.BoardID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.BoardID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.BoardID })
                    </td>
                </tr>
            }

            </table>
    </div>
    <div class="col-md-3 col-lg-3"></div>



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
           @using (Html.BeginForm("AddBoard","Member")) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Board</legend>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.BoardName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BoardName)
                        @Html.ValidationMessageFor(model => model.BoardName)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.BoardCreated)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BoardCreated)
                        @Html.ValidationMessageFor(model => model.BoardCreated)
                    </div>

                    <p>
                        <input type="submit" value="Create" />
                    </p>
                </fieldset>
            }
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

